############# Variables for Execution #############
# Options: local, docker, grid
RUN_METHOD = local

# Options: chrome, firefox, edge
BROWSER = chrome

BASE_URL = https://github.com/
GRID_URL = http://localhost:4444/wd/hub

# Options: "true" or "false"
HEADLESS = false

# Options: "true" or "false"
ACCEPT_INSECURE_CERTIFICATES = true

# Options: "info" or "severe"
SELENIUM_LOG_LEVEL = severe

DOWNLOADS_DIR = downloads

API_BASE_URL = https://api.github.com/
API_VERSION = 2022-11-28
ORG_NAME = Joe-Astudillo-Org
TOKEN =
USERNAME =
PASSWORD =
OTP = false
OTP_KEY =
